<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>User 1</h1>
   <button onClick= "move()"> Move to next Page</button>
   <p> you have visit this website <%= total%> Times</p>
   <script>
    function move(){
        window.location.href = '/user2'
    }
  </script>
</body>
</html>